In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Create a reference the CSV file desired
csv_path = "crd.csv"

# Read the CSV into a Pandas DataFrame
crd_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
crd_df.head()

,date,AdrActCnt,BlkCnt,BlkSizeByte,BlkSizeMeanByte,CapMrktCurUSD,DiffMean,FeeMeanNtv,FeeMeanUSD,FeeMedNtv,...,TxTfrValAdjUSD,TxTfrValMeanNtv,TxTfrValMeanUSD,TxTfrValMedNtv,TxTfrValMedUSD,TxTfrValNtv,TxTfrValUSD,VtyDayRet180d,VtyDayRet30d,VtyDayRet60d
0,2016-07-24,14910,9388,9484872,1010.318705,NaN,1.425784e+12,0.000779,NaN,0.000481,...,NaN,630.707220,NaN,2.622539,NaN,1.750528e+07,NaN,NaN,NaN,NaN
1,2016-07-25,12384,5648,6990037,1237.612783,5.013648e+07,3.263197e+12,0.000907,0.000553,0.000482,...,3.519595e+06,327.487227,199.441412,2.271501,1.383356,9.714254e+06,5.916031e+06,NaN,NaN,NaN
2,2016-07-26,16696,7750,9372983,1209.417161,2.100841e+08,4.324493e+12,0.000833,0.002124,0.000487,...,1.857095e+07,309.512603,789.398760,1.999580,5.099844,1.130402e+07,2.883042e+07,NaN,NaN,NaN
3,2016-07-27,19134,5721,8353485,1460.144206,1.334783e+08,8.546119e+12,0.000788,0.001276,0.000475,...,1.351068e+07,393.303582,637.073099,2.055068,3.328799,1.565270e+07,2.535424e+07,NaN,NaN,NaN
4,2016-07-28,11646,5957,6867164,1152.788988,1.423718e+08,6.348056e+12,0.000926,0.001600,0.000509,...,2.016661e+07,556.936113,961.841874,1.568639,2.709077,1.596569e+07,2.757312e+07,NaN,NaN,NaN

In [3]:
# reset index
crd_df.reset_index()

,index,date,AdrActCnt,BlkCnt,BlkSizeByte,BlkSizeMeanByte,CapMrktCurUSD,DiffMean,FeeMeanNtv,FeeMeanUSD,...,TxTfrValAdjUSD,TxTfrValMeanNtv,TxTfrValMeanUSD,TxTfrValMedNtv,TxTfrValMedUSD,TxTfrValNtv,TxTfrValUSD,VtyDayRet180d,VtyDayRet30d,VtyDayRet60d
0,0,2016-07-24,14910,9388,9484872,1010.318705,NaN,1.425784e+12,0.000779,NaN,...,NaN,630.707220,NaN,2.622539,NaN,1.750528e+07,NaN,NaN,NaN,NaN
1,1,2016-07-25,12384,5648,6990037,1237.612783,5.013648e+07,3.263197e+12,0.000907,0.000553,...,3.519595e+06,327.487227,199.441412,2.271501,1.383356,9.714254e+06,5.916031e+06,NaN,NaN,NaN
2,2,2016-07-26,16696,7750,9372983,1209.417161,2.100841e+08,4.324493e+12,0.000833,0.002124,...,1.857095e+07,309.512603,789.398760,1.999580,5.099844,1.130402e+07,2.883042e+07,NaN,NaN,NaN
3,3,2016-07-27,19134,5721,8353485,1460.144206,1.334783e+08,8.546119e+12,0.000788,0.001276,...,1.351068e+07,393.303582,637.073099,2.055068,3.328799,1.565270e+07,2.535424e+07,NaN,NaN,NaN
4,4,2016-07-28,11646,5957,6867164,1152.788988,1.423718e+08,6.348056e+12,0.000926,0.001600,...,2.016661e+07,556.936113,961.841874,1.568639,2.709077,1.596569e+07,2.757312e+07,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194,1194,2019-10-31,436724,6596,10183972,1543.961795,5.527997e+08,1.247290e+14,0.000197,0.000948,...,4.593810e+07,279.148391,1342.836324,0.999392,4.807551,9.676958e+06,4.655076e+07,0.048309,0.037277,0.041472
1195,1195,2019-11-01,463640,6657,10232466,1537.098693,5.607901e+08,1.244126e+14,0.000177,0.000864,...,4.426404e+06,31.679024,154.557973,0.999252,4.875223,1.111490e+06,5.422821e+06,0.048307,0.037313,0.040112
1196,1196,2019-11-02,480938,6623,10109872,1526.479239,5.665300e+08,1.288827e+14,0.000175,0.000864,...,2.631568e+06,18.944308,93.351351,0.998957,4.922534,6.346154e+05,3.127177e+06,0.048310,0.037269,0.040114
1197,1197,2019-11-03,487123,6626,10060597,1518.351494,5.617707e+08,1.259930e+14,0.000162,0.000791,...,2.106494e+06,15.509706,75.767189,0.998896,4.879751,5.223359e+05,2.551687e+06,0.048313,0.037288,0.040113
1198,1198,2019-11-04,456285,6492,10046189,1547.472120,5.704847e+08,1.248758e+14,0.000184,0.000911,...,2.525277e+06,19.041518,94.442132,0.999549,4.957563,6.564563e+05,3.255892e+06,0.048322,0.037364,0.039646

In [4]:
# export to csv 
crd_df.to_csv("clean_crd_df.csv")

In [5]:
# Filter the data so that only date for the last 2 years are in a DataFrame
clean_crd_df = crd_df.drop(crd_df.index[0:342])

In [6]:
# select only rows needed for analysis
clean_crd_df = clean_crd_df[["date", "CapMrktCurUSD", "PriceUSD"]]
clean_crd_df.head()

           date  CapMrktCurUSD   PriceUSD
342  2017-07-01   1.544252e+09  16.542040
343  2017-07-02   1.628663e+09  17.440446
344  2017-07-03   1.611146e+09  17.247060
345  2017-07-04   1.629516e+09  17.437723
346  2017-07-05   1.625689e+09  17.390919

In [7]:
# add number of coins column
organized_crd_number = clean_crd_df['CapMrktCurUSD'].div(clean_crd_df['PriceUSD'])
clean_crd_df['number_of_coins'] = organized_crd_number
clean_crd_df.head()

           date  CapMrktCurUSD   PriceUSD  number_of_coins
342  2017-07-01   1.544252e+09  16.542040     9.335318e+07
343  2017-07-02   1.628663e+09  17.440446     9.338428e+07
344  2017-07-03   1.611146e+09  17.247060     9.341567e+07
345  2017-07-04   1.629516e+09  17.437723     9.344778e+07
346  2017-07-05   1.625689e+09  17.390919     9.347919e+07

In [8]:
# Rename headers
clean_crd_df = clean_crd_df.rename(
    columns={"date": "Date", "CapMrktCurUSD": "Market Cap (USD)", "PriceUSD": "Price (USD)", "number_of_coins": "Number of Coins"})
clean_crd_df.head()

           Date  Market Cap (USD)  Price (USD)  Number of Coins
342  2017-07-01      1.544252e+09    16.542040     9.335318e+07
343  2017-07-02      1.628663e+09    17.440446     9.338428e+07
344  2017-07-03      1.611146e+09    17.247060     9.341567e+07
345  2017-07-04      1.629516e+09    17.437723     9.344778e+07
346  2017-07-05      1.625689e+09    17.390919     9.347919e+07

In [9]:
clean_crd_df.drop(columns=['Price (USD)'])

            Date  Market Cap (USD)  Number of Coins
342   2017-07-01      1.544252e+09     9.335318e+07
343   2017-07-02      1.628663e+09     9.338428e+07
344   2017-07-03      1.611146e+09     9.341567e+07
345   2017-07-04      1.629516e+09     9.344778e+07
346   2017-07-05      1.625689e+09     9.347919e+07
...          ...               ...              ...
1194  2019-10-31      5.527997e+08     1.149158e+08
1195  2019-11-01      5.607901e+08     1.149425e+08
1196  2019-11-02      5.665300e+08     1.149691e+08
1197  2019-11-03      5.617707e+08     1.149957e+08
1198  2019-11-04      5.704847e+08     1.150217e+08

[857 rows x 3 columns]

In [10]:
clean_crd_df.to_csv("organised_crd_df.csv")